h2 {
    color:blue;
}

/* .boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 20px 20px;
    margin: 0px 20px;
    width: 55px;
    height: 33px;
    text-align: center;
} */

p {
    font-size: 20px;
}

span {
    font-size: 3em;
}